<% layout("/layouts/boilerplate") %>
<br> <br>
<div class="alert alert-danger" role="alert">
  <h2> <%= error.statusCode %> </h2>
  <p> <%= error.message %> &nbsp &nbsp <a href="/listing" class="alert-link"> <button type="button" class="btn btn-outline-danger">Homepage</button> </a> <p>
</div>